@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; }
body { font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; background: #f6e9d8; font-size: 14px; color: #333; line-height: 21px; }
a { color: #000; text-decoration: none; }
a:hover { color: #ff3600; text-decoration: none; }
ul, li, dl, dt, dd { list-style: none; }
img { border: 0; vertical-align: top; }
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }
.wid-100 { float: left; width: 100%; }
.mar-1000 { width: 1000px; margin: 0 auto; }
.mar-1200 { width: 1200px; margin: 0 auto; }
/*==================== 导航栏 start ================*/
.tpl-banner { 
	height: 988px; 
	background: url(../images/banner.png) no-repeat center 0px;
 }
.mod-login-horizontal-s1 { line-height: 28px; margin-top: 9px; }
.mod-login .login-btn-login,.mod-login .login-btn-reg{ 
	display: inline-block; 
	height:28px;  
	padding: 0 11px;
	background-color:#f3b610;
	border-radius: 8px; 
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #ffffff; 
	margin-right:5px;
}
.mod-login .login .login-link-forget{ 
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #ffffff;
}
.mod-login .login span{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #ffffff;
	margin-right: 5px;
	display:inline-block;
}
.mod-login-horizontal-s1 .login-input{border-radius:0px;width: 107px;height: 21px;border:0px;padding:0px;margin-top: -3px;}
.login-btn-login:hover, .login-btn-reg:hover{color:#f70;}
/*==================== 导航栏 end ================*/

/*==================== 导航banner start ================*/
.menu-box { padding-top: 185px; }
.menu-box .pd { width: 1174px; height: 51px; margin: 0 auto; line-height: 54px; background: url("../images/nav-bg.png") no-repeat; }
.menu-box .pd .nav { width: 1050px; margin: 0 auto; }
.menu-box .nav li{ width: 175px;text-align: center; float:left; }
.menu-box .nav li.cur{background:url("../images/nav-cur.png") no-repeat; background-position:7px 5px;}
.menu-box .nav li a{font-size: 20px;color: #db1d0d; font-weight:bold;}
.menu-box .nav li.cur a,.menu-box .nav li:hover a {color:#fff;}

.col-search{ padding:49px 0 0 0;}
.mod-search-singlebox-s1{width: 534px;height: 46px;box-shadow: 0px 2px 4px 0px rgba(142, 140, 140, 0.27);border: none;margin:0 auto;padding-right:0;padding-left:0;}
.mod-search-singlebox-s1 .secx{box-shadow:none;border:none;height: 46px;padding-right:103px;background:#fff;}
.mod-search-singlebox-s1 .secx .pholder{font-size:14px;color:#999999;height: 46px;line-height: 46px;left:17px;}
.mod-search-singlebox-s1 .secx .inputtext{padding-left:17px;height: 46px;line-height: 46px\9;width: 91%;font-size: 14px; color:#999999;}
.mod-search-singlebox-s1 .secbtn{background:#db1d0d;font-size: 16px;color:#fff;text-align:center;height: 46px;line-height: 46px\9;width: 88px;text-indent:0;}
/*列表样式*/
.bullet-points li{padding-left:16px;background:url("../images/list-icon1.png") no-repeat left;background-size: 6px 13px;font-family: MicrosoftYaHei;}
a.show-more{font-family: MicrosoftYaHei;font-size: 12px;line-height: 24px;color: #e09b0a;float:right;}
a.show-more:hover{color:#c61e1a;}
/*==================== 导航banner end ================*/

/*==================== 首页主要内容 start ================*/
.tpl-content{}

/*========== 庆祝活动内容 ===========*/
.cele-tit{width:100%; text-align:center;padding-top:64px; padding-bottom:36px;}
.cele-content{width:100%;height:437px;background:url("../images/bg-cele.png") no-repeat center;}
.cele-img{float:left;margin-top:23px;margin-left:45px;}
.cele-text{width:505px; height:387px;float:right;margin-top:23px;padding-top:11px;}
.subtit{width:178px; height:36px; background:url("../images/bg-tit.png") no-repeat left;background-size:178px auto;padding-left:26px;}
.subtit span{font-family: MicrosoftYaHei;font-size: 16px;font-weight:bold;line-height:36px;color: #ffdda2;}
.cele-lists{padding-top:40px;}
.cele-lists li{font-size: 15px;line-height:30px;}
.cele-lists li a{color:#000000;}
.cele-lists li a:hover{color:#c61e1a}
.cele-lists .show-more{margin-right:74px; margin-top:18px;}

/*========= 光辉历史内容 ==========*/
.section-progress{height: 1364px;width:100%; background:url("../images/bg-section2.png") no-repeat center 0px;
padding-top:209px;}
.history-box{float:left; margin-left:-6px;}
.ht-tab-con{display:none;}
.ht-tab-con.active{display:block;}
.history-con{margin:25px 0px 36px 15px;padding-top:30px;padding-left:8px;width:564px;height:228px;background:url("../images/bg-progress1.png") no-repeat;/*	background-size: 100% 100%;*/}
ul.ht-tab{float:left;width:185px;}
ul.ht-tab li{font-family: MicrosoftYaHei;font-size: 16px;margin-bottom:22px;}
ul.ht-tab li a{color:#fff; font-weight:bold;}
ul.ht-tab li a:hover, ul.ht-tab li.cur a{color:#fbdc0c;}
.ht-tab-con{float:right;/*width:333px;*/margin-right:15px;}
.ht-tab-con .bullet-points li{line-height:48px;}
.ht-tab-con .bullet-points li a{color:#000000;font-size:14px;}
.ht-tab-con .bullet-points li a:hover{color:#bb1119;}
.ht-tab-con .show-more{margin-right:22px; margin-top:-1px;}


.figure-box{float:left; margin-left:23px;}
.figure-con{padding-top:42px;}
.figure-tab{background:url("../images/bg-tit.png") no-repeat left;padding-left:15px;}
.figure-tab li{float:left; font-family: MicrosoftYaHei;font-size: 16px; line-height:45px;
				padding-left:11px;}
.figure-tab li a{color:#bb1a20;}
.figure-tab li a:hover, .figure-tab li.cur a{color:#ffdda2;}
.figure-tab .first a{color:#ffdda2; margin-right:4px;}
.divider{width:1px; height:23px; background-color: #bb1a20;display:block; float:right;
		margin-top:12px; margin-left:9px;}
.figure-tab-con{ display:none;}
.figure-tab-con.active{display:block;}
.pic-col{float:left; width:119px;}
.pic-col.left{margin-right:15px;}
.figure-pic{position:relative;height:79px;margin-top:18px;}
.figure-pic img{width:119px; height:79px;} 
.figure-intro{width:100%; height:20px;line-height:20px;
				position:absolute; top:59px;background-color: rgba(0,0,0,.5);
				color:#fff;font-size: 14px;text-align:center;}
.figure-box .show-more{margin-top:15px;}


.event-tab{height:34px; margin-top:16px;padding-left:28px;
		  background:url("../images/bg-tit2.png") no-repeat left;
		  background-size:145px 34px;}
.event-tab li{float:left;line-height:34px;}
.event-tab li a{font-size:16px; line-height:34px; color:#bb1a20;}
.event-tab li a:hover, .event-tab li.cur a{color:#ffdda2;}
.event-tab li.first a{color:#ffdda2;}
.event-tab li.first{width:116px;}
.event-tab .show-more{margin-right:71px;}
.event-intro{width:100%; margin-top:23px;display:none;position:relative;height:171px;}
.event-intro.active{display:block;}
.event-box .progress-tit{margin-left:-8px;}
.slide-bg{z-index:11;position:absolute;top:0px; left:0px;}
.slides-con{z-index:2;width:1077px;height:114px;overflow:hidden;position:absolute;top:27px;left:60px;}
.event-slides li{float:left;width:135px;text-align:left;}
.event-img{/*width:126px;*/ height:114px; text-align:center; background-color:pink;}


.conference-box{margin-top:38px;width:561px;}
.conference-box .show-more{margin-top:21px;}
.conference-box .progress-tit{margin-left:-8px;}
.conferences{padding-top:15px;padding-left:35px;margin-bottom:35px;}
.conf{float:left; width:230px; height:122px;position:relative;
		margin-top:10px;}
.conf.left{margin-right:31px;}
.conf img{width:100%; height:100%;}
.conf-intro{width:100%;height:24px;line-height:24px;font-family: MicrosoftYaHei;
			font-size: 14px;color: #ffffff;background-color:rgba(0,0,0,.5);
		    position:absolute; top:100px;text-align:center;font-weight:bold;}
.study-box{margin-top:35px; margin-left:46px;}
.book{padding-top:26px; text-align:center;height:275px;
		background:url("../images/study-ft.png") no-repeat;
		background-position:12px 208px;}
.knowledge-box{margin-top:35px; margin-left:31px;width:240px;}
.kn-box{float:left; width:110px;margin-top:27px;}
.kn-box.left{margin-right:11px;}
.kn-box p{text-align:center;font-family: MicrosoftYaHei;font-size: 17px;letter-spacing: 1px;color: #000000;line-height:34px;}
.kn-box img{margin-bottom:5px;}
.knowledge-con{padding-top:5px; padding-left:8px;}

.lecture{position:relative;}
.lecture-con{margin-top:21px;margin-left:90px;overflow:hidden;width:1014px;height:148px;}
.l-slides {/* width:1066px;position:relative; padding-left:39px;*/}
.l-slides li{float:left;padding-right:10px;cursor: pointer;}
.l-slides li:hover .l-slide-txt{background-color:#c71a10;}
.l-slide-txt {width:154px; height:46px; background-color: #aeaeae;color:#fff;
			font-family: MicrosoftYaHei;font-size: 15px;line-height:21px;
			text-align:left; padding-left:5px;}
.lecture .go-left {position:absolute; top:67px; left:48px;}
.lecture .go-right {position:absolute; top:160px; left:1094px;}
/*========= 光辉历史内容 end ==========*/

/*========= 辉煌成就内容 start ==========*/
.section-achievement{width:100%; height:880px; background:url("../images/bg-section3.jpg") no-repeat center 0px;
					padding-top:170px;}
.ach-con{position:relative;margin-bottom:36px;}
.ach-gol{display:inline-block;float:left;width:43px;height:87px;background:url("../images/ach-gol.png") no-repeat;
		position:absolute;top:145px;left:0px;}
.ach-gor{display:inline-block;float:right;width:43px;height:87px;background:url("../images/ach-gor.png") no-repeat;
		position:absolute;top:145px;left:1152px;}
.ach-slides{margin-left:60px; width:1091px;height:345px;overflow:hidden;padding:5px;}
.a-slides li{float:left;padding-right:7px;}
.ach-box{margin-top:38px;width: 349px;height: 304px;box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.22);}
#ach-box1{background:url("../images/ach-bg1.png") no-repeat -7px 0px; background-size:364px;}
#ach-box2{background:url("../images/ach-bg2.png") no-repeat -7px 0px; background-size:364px;}
#ach-box3{margin-top:25px;background:url("../images/ach-bg3.png") no-repeat -7px 0px; background-size:364px 324px;height:318px;}
#ach-box4{background:url("../images/ach-bg2.png") no-repeat -7px 0px; background-size:364px;}

.guide-tab-con{width:379px; height:218px; background:url("../images/ach-bg4.png") no-repeat;
				float:left; margin-top:53px;}
.guide-intro{float:left;width:755px;height:321px;background:url("../images/ach-bg5.png") no-repeat;
			margin-left:13px; margin-top:5px; display:none;
			 padding:20px 12px 20px 22px;} 
.guide-intro.active{display:block;}
.guide-tabs{margin-top:20px; margin-left:34px;}
.guide-tabs li{float:left;width: 51px;height: 179px;text-align:center;padding-top:10px;}
.guide-tabs li a{font-family: MicrosoftYaHei;font-size: 16px;line-height:20px;letter-spacing: 1px;color: #000000;
				display:inline-block; width:16px;}
.guide-tabs li.cur a, .guide-tabs li a:hover{color:#b50b0b;}
.guide-tabs li a.multi{width:41px;}
.guide-tabs li a.tab{line-height:16px;}
.guide-tit{width: 371px;height: 36px;background:url("../images/ach-tit3.png") no-repeat;}
.guide-tit span{font-family: MicrosoftYaHei;font-size: 18px;line-height:36px;letter-spacing: 1px;color:#ffdda2;
				padding-left:20px; font-weight:bold;}
.guide-book{float:left;margin-top:12px;}
.guide-subtit{width: 110px;height: 28px; background:url("../images/ach-tit4.png") no-repeat;}
.guide-subtit span{font-family: MicrosoftYaHei;font-size: 17px;line-height:28px;
					letter-spacing: 1px;color:#ffdda2;padding-left:14px;}
.guide-refer{float:left;margin-top:14px;width:322px;}
.guide-slides{margin-top:28px; width:432px;height:105px; overflow:hidden;}
.g-slides li{float:left;margin-right:11px;}
.gbook-img {float:left;}
.gbook-info {width:128px;float:left;margin-left:7px;font-family: MicrosoftYaHei;}
.gbook-tit{font-size:12px;line-height:16px;letter-spacing: 1px;color: #000000;font-weight:bold;}
.gbook-author{color: #666666;line-height:16px; margin-top:9px;font-size:12px;}
/*========= 辉煌成就内容 end ==========*/

/*========= 宝贵经验内容 start ==========*/
.section-experience{width:100%;height:540px; background:url("../images/bg-section4.png") no-repeat center 0px;
					padding-top:270px;}
.experience-con{width:720px; margin:0 auto;}
.experience-box{float:left; width:360px;}
.experience-box.right ul{padding-left:120px;}
.experience-list li{line-height:42px;padding-left:20px; background:url("../images/list-icon2.png") no-repeat left;}
.experience-list li a{font-family: MicrosoftYaHei;font-size: 14px;color:#000;}
.experience-list li a:hover{color:#c62418;}
.experience-box a.show-more{margin-right:-66px;}
/*========= 宝贵经验内容 end ==========*/

/*========= 历史使命内容 start ==========*/
.section-vision{width:100%;height:380px; background:url("../images/bg-section5.png") no-repeat center 0px;
				padding-top:205px;}
.vision-con{width: 803px;height: 354px;background:url("../images/vision-bg1.png") no-repeat 0px 0px;
			margin-left:402px;padding-top:18px;padding-left:26px;}
.vision-box{width:370px;float:left;margin-right:28px;}
.vision-tit span{font-family: SimSun;font-size: 20px;line-height: 32px;color: #ffffff;
				font-weight:bold;}
#vision-tit1{padding-left:73px;}
.vbox-con{margin-top:66px;}
/*========= 历史使命内容 end ==========*/

/*========= 光明未来内容 start ==========*/
.section-expectation{width:100%;height:459px; background:url("../images/bg-section6.png") no-repeat center -30px;
					padding-top:185px;}
.future-col{width:385px; height:400px; float:left;text-align:center;}
.future-col.lt{margin-right:20px;}
.future-tit {width:330px; height:34px; margin:0 auto; position:relative;}
#future-tit1 {background: url("../images/future-tit3.png") no-repeat center 0px;}
#future-tit2 {background:url("../images/future-tit1.png") no-repeat center 0px;}
#future-tit3 {background:url("../images/future-tit2.png") no-repeat center 0px;}
.future-tit span {position:absolute;top:21px;font-family: MicrosoftYaHei;
				   font-size:18px;letter-spacing: 1px;color: #ffffff; font-weight:bold;
				   width:300px; left:15px;}
.future-box {margin-top:28px;width:386px; height:306px;} 
#fbox-1 {background:url("../images/future-bg1.png") no-repeat center 0px;}
#fbox-2 {background:url("../images/future-bg2.png") no-repeat center 0px;}
#fbox-3 {background:url("../images/future-bg3.png") no-repeat center 0px;}
/*========= 光明未来内容 end ==========*/
/*==================== 首页主要内容 end ================*/


/*==================== 二级页面主要内容 start ================*/
/*==================== 二级页面主要内容 end ================*/

.tpl-footer{ height: 384px;background: #f6e9d8 url('../images/footer-bg.png') center 0 no-repeat;}
.tpl-footer .wrap { padding-top: 240px; }
.tpl-footer p{ line-height: 38px;font-size: 18px;color:#fff;text-align:center;}
.tpl-footer .p_pic{ margin-top: 10px; }
.tpl-footer a{color:#fff;}